/* ScrollingContent.css */

.scroll-container {
    display: flex;
    overflow: hidden;
    height: 30px;
    white-space: nowrap;
    border-top: 1px solid #d6d3d1;
    background-color: #da2525;
    padding: 2rem 0;
    position: relative;
  }
  
  .scroll-content {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  .item {
    flex-shrink: 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
   